<!DOCTYPE html>
<html lang="ru"> 
  <head> 
    <title>
    {{ post|truncatechars:30 }}
    </title>
  </head>
  <body>       
    <header>
    {% include 'includes/header.html' %}
    </header>
    <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"d E Y" }} 
            </li>
            <!-- если у поста есть группа -->   
              <li class="list-group-item">
                Группа: <!-- Название группы -->
                <a href="<!-- -->">
                  все записи группы
                </a>
              </li>
              <li class="list-group-item">
                Автор: {{ post.author.get_full_name }}
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span >{{ post.author.posts.count }}</span>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author.username %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ post.text|linebreaksbr }}
          </p>
        </article>
      </div> 
    </main>
    <footer class="border-top text-center py-3"></footer>
        {% include 'includes/footer.html' %}  
  </body>
</html> 